/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body{
    margin: 0px;
    line-height: 1.5;
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
    color: white;
}
.text-muted{
    color: #6c757d !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h5, .h5 {
    font-size: 1.25rem;
}
.text-center {
    text-align: center !important;
}
.container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.spacer{
    flex: 1 1 auto;
}

/* Grid system */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-3, .col-sm-4, .col-md-9{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-sm-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}
/* Form elements */
.form-group{
    margin-bottom: 1rem;
}
button, select {
    text-transform: none;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
label{
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-control{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.list-group .list-group-item:first-child {
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
}

.list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
